# Server Port (Render automatically sets process.env.PORT)
PORT=3000

# TagMango Platform Configuration
TAGMANGO_KEY=tmk_6a548d2ad99f41ea005cfb8e.2c6260d65f3f09ca4f0a479d15081d98288cc2a6f9e51e191f5249cc0068b8f6
HOST_URL=learn.cmplibe.com
BASE_URL=https://api-prod-new.tagmango.com/api/v1
CREATOR_ID=6682734e120c766a6e5af59c

# Database Connection String (Optional: Set when connecting MongoDB/Atlas)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cmplibe_gamification?retryWrites=true&w=majority

# Admin Email Access List (Comma separated)
ADMIN_EMAILS=cmplibesai@gmail.com,cmplifutureadi@gmail.com,cmplibecynthiya@gmail.com,6309764212,9845421644
